DOCKER_REGISTRY=docker.io
FRONTEND_PORT=3102
BACKEND_PORT=8102
MYSQL_PORT=3312
REDIS_PORT=6412
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=example_db
MYSQL_USER=admin
MYSQL_PASSWORD=change_me
COMPOSE_PROJECT_NAME=wx-1002-umbrella-management
